In [1]:
Print("HI")

NameError: name 'Print' is not defined

In [2]:
print("HI")

HI

In [3]:
list=['divya',8,7,'vkd@gmail.com']
list

['divya', 8, 7, 'vkd@gmail.com']

In [5]:
list.append("12345")
list

['divya', 8, 7, 'vkd@gmail.com', '12345']

In [6]:
list.index(8)

1

In [7]:
list.count(8)

1

In [8]:
list.pop(3)

'vkd@gmail.com'

In [9]:
list

['divya', 8, 7, '12345']

In [10]:
list.remove(8)

In [11]:
list

['divya', 7, '12345']

In [12]:
list.reverse()

In [13]:
list

['12345', 7, 'divya']

In [14]:
list[-3]

'12345'

In [15]:
print("DICTIONARY)")

DICTIONARY)

In [16]:
dict={"name" :"Divya", "age":"25", "Mobile":9677108411,"email":"vkdivya@gmail.com"}

In [17]:
dict

{'name': 'Divya',
 'age': '25',
 'Mobile': 9677108411,
 'email': 'vkdivya@gmail.com'}

In [18]:
dict.get("age")

'25'

In [20]:
dict["name"]

'Divya'

In [21]:
dict.items()

dict_items([('name', 'Divya'), ('age', '25'), ('Mobile', 9677108411), ('email', 'vkdivya@gmail.com')])

In [22]:
dict.keys()

dict_keys(['name', 'age', 'Mobile', 'email'])

In [24]:
dict.pop("Mobile")

9677108411

In [25]:
dict.values()

dict_values(['Divya', '25', 'vkdivya@gmail.com'])

In [26]:
dict.copy()

{'name': 'Divya', 'age': '25', 'email': 'vkdivya@gmail.com'}

In [27]:
print("SET")

SET

In [28]:
seet={12,24,67,55,907,922,'Vignesh',969,'Chandru',33,90
     }

In [29]:
seet

{12, 24, 33, 55, 67, 90, 907, 922, 969, 'Chandru', 'Vignesh'}

In [30]:
set1={1,2,12,24}

In [31]:
set2 = {55,67,8}

In [32]:
seet.intersection(set1)

{12, 24}

In [33]:
seet.intersection(set2)

{55, 67}

In [35]:
seet.difference(set1)

{33, 55, 67, 90, 907, 922, 969, 'Chandru', 'Vignesh'}

In [36]:
seet.issubset(set2)

False

In [37]:
seet.isdisjoint(set1)

False

In [38]:
seet.add("names")

In [39]:
seet

{12, 24, 33, 55, 67, 90, 907, 922, 969, 'Chandru', 'Vignesh', 'names'}

In [41]:
seet.pop()

'Chandru'

In [44]:
seet.remove(24)

In [45]:
seet

{12, 33, 55, 67, 90, 907, 922, 969, 'Vignesh', 'names'}

In [46]:
seet.union(set2)

{12, 33, 55, 67, 8, 90, 907, 922, 969, 'Vignesh', 'names'}

In [47]:
print("Tuple")

Tuple

In [48]:
tupe=("divya","95","divya@gmail.com")

In [49]:
tupe

('divya', '95', 'divya@gmail.com')

In [50]:
tupe.count(95)

0

In [51]:
tupe.count("95")

1

In [52]:
tupe.index("95")

1

In [53]:
print("String")

String

In [55]:
name1 ="Divya"
name2="Chandru"

In [56]:
name1 + ":" + name2

'Divya:Chandru'

In [57]:
type(name1)

str